.row.border.m-1.p-3
  .col-2.text-left
    %label.checkbox-inline.mr-5
      = check_box_tag 'select-all', nil 
      = '全选'
  - @factories.each do |f|
    .col-2.text-left
      %label.checkbox-inline.mr-5
        = check_box_tag 'fcts', idencode(f.id), nil, {array: true} 
        = f.name

<script>
function select_checkbox_all(select_all, checkbox_name) {
$("#" + select_all).click(function() {
flag = $(this).is(":checked");
if (flag) {
$("input[name='" + checkbox_name + "']").prop('checked', true);
} else {
$("input[name='" + checkbox_name + "']").prop('checked', false);
}
})
}
select_checkbox_all("select-all", "fcts")
</script>
